PORT=3000
NODE_ENV=development

DATABASE_URL=postgres://postgres:postgres@db:5432/github_notifier

REDIS_URL=redis://redis:6379
REDIS_TTL=60000

GITHUB_TOKEN=
GITHUB_API_BASE_URL=https://api.github.com

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
MAIL_FROM=no-reply@example.com

APP_BASE_URL=http://localhost:3000

SCANNER_CRON=*/5 * * * *
API_KEY=super-secret-api-key